:root {
    --primary: #01A59E;
    --primary-light: #B8E1DF;
    --primary-dark: #042940;
    --secondary-ultra-ight: #F2FAFA;
    
    --secondary: #4472C4;
    --secondary-light: #ACDBFF;
    --secondary-dark: #254E6C;
    --secondary-ultra-ight: #D5EDFF;

    --text-dark: #333333;
    --text-medium: #666666;
    --text-light: #999999;
    --text-disabled: #CCCCCC;
    --text-ultra-light: #e7e2e2;
}