:root {
    --primary: #E20616;
    --primary-light: #FADDE6;
    --primary-dark: #895256;

    --secondary: #2379D2;
    --secondary-light: #D7E4F5;
    --secondary-dark: #0B6BCB;
    --secondary-ultra-ight: #EFF3F9;

    --text-dark: #333333;
    --text-medium: #666666;
    --text-light: #999999;
    --text-disabled: #CCCCCC;
    --text-ultra-light: #e7e2e2;
}